.Rhistory
.RData
.Rproj.user/
*.Rproj
Blue butterflies.xlsx
Blue offspring.xlsx
Blue pupae.xlsx
ICC.xlsx
blueness.csv
segmentation_results.csv
figs/
forms/
ImageJ/
literature/
M females/
M males/
mothers/
segmentation_masks-butterflies/
uv samples/
Yinuo butterflies/
plots/