.Rhistory
.RData
.Rproj.user/
*.Rproj
Blue butterflies.xlsx
Blue offspring.xlsx
Blue pupae.xlsx
ICC.xlsx
norms.xlsx
momfit.xlsx
survival.xlsx
blueness.csv
bluesum.csv
full_model.rds
figs/
forms/
ImageJ/
literature/
photos/
M males/
uv samples/
plots/
R/
.positai