.Rhistory
.RData
.Rproj.user/
*.Rproj
Blue butterflies.xlsx
Blue offspring.xlsx
Blue pupae.xlsx
ICC.xlsx
norms.xlsx
blueness.csv
bluesum.csv
figs/
forms/
ImageJ/
literature/
M females/
M males/
mothers/
segmentation_masks-butterflies/
segmentation_masks-butterfliesM/
uv samples/
Yinuo butterflies/
plots/